* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Monstserrat", sans-serif
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0.15em 1em 0.5em 1em;
}

nav {
  border-bottom: 1px solid white;
  width: 100vw;
  text-align: center;
}

nav > h2 {
  margin-top: 0;
}

.board {
  display: flex;
}

.board .row {
  display: flex;
  flex-direction: column;
}

.board .row > * {
  border: 0.5px solid white;
  padding: 0.75em;
}

.letter {
  font-weight: 800;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.line1,
.line2,
.line3 {
  display: flex;
}

.key {
  background-color: azure;
  color: black;
  padding: 0.5em;
  margin: 0.1em;
  border-radius: 5px;
  font-size: 1.25rem;
}